<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Document</title>
    </head>
<body>

    <%- include('./partials/scripts.ejs') %>
    <%- include('./partials/nav.ejs') %>

   
</body>
</html>